<header >
  <ul class="list1">
    
    <li><a routerLink="/" (click)="seleccionarElemento('inicio')"><h1><i class="fa-brands fa-dev"></i> | Manuel Duran</h1></a></li>
  </ul>
  <nav [ngClass]="{'ocultarBtn': show===true}" >
    <ul>
      <li [ngClass]="{'elemento-activo': elementoActivo === 'inicio'}"><a (click)="seleccionarElemento('inicio'); hideMenu()" routerLink="/">Inicio</a></li>
      <li [ngClass]="{'elemento-activo': elementoActivo === 'proyectos'}"><a (click)="seleccionarElemento('proyectos') ; hideMenu()" routerLink="/projects" >Proyectos</a></li>
      <li [ngClass]="{'elemento-activo': elementoActivo === 'CV'}"><a (click)="seleccionarElemento('CV'); hideMenu()" routerLink="/bio" >Bio</a></li>
      <li [ngClass]="{'elemento-activo': elementoActivo === 'contacto'}"><a (click)="seleccionarElemento('contacto'); hideMenu()" routerLink="/contacto">Cotacto</a></li>
    </ul>
  </nav>
  <span  class="btnCerrar"  (click)="hideMenu()">
    <i class="fa-solid fa-bars"></i>
  </span>
</header>
