<div class="container">
    <h1>Proyectos</h1>
    <div class="row">
        <div class="col-md-12 mt-3">
            <p>
                A continuación, se presentan algunos de los proyectos en los que he participado. Estos proyectos
                abarcan diferentes áreas, desde el desarrollo de aplicaciones web hasta la implementación de
                infraestructura en la nube.
            </p>

        </div>
    <div class="card1" data-aos="fade-up">
        <div class="col-md-12 mt-3">
            <div class="card">
                <img class="card-img-top" src="assets/img/card1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum atque beatae inventore et velit laudantium adipisci veniam, rem non error, enim sapiente debitis numquam ipsam ducimus nobis, consectetur nostrum similique. 
                    </p>
                </div>
                <div class="card-footer">
                    <p>footer ccard</p>

                </div>
            </div>

</div>
    </div>
    <div class="card1" data-aos="fade-up">
        <div class="col-md-12 mt-3">
            <div class="card">
                <img class="card-img-top" src="assets/img/card1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum atque beatae inventore et velit laudantium adipisci veniam, rem non error, enim sapiente debitis numquam ipsam ducimus nobis, consectetur nostrum similique. 
                    </p>
                </div>
                <div class="card-footer">
                    <p>footer ccard</p>

                </div>
            </div>

</div>
    </div>
    <div class="card1" data-aos="fade-up">
        <div class="col-md-12 mt-3">
            <div class="card">
                <img class="card-img-top" src="assets/img/card1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum atque beatae inventore et velit laudantium adipisci veniam, rem non error, enim sapiente debitis numquam ipsam ducimus nobis, consectetur nostrum similique. 
                    </p>
                </div>
                <div class="card-footer">
                    <p>footer ccard</p>

                </div>
            </div>

</div>
    </div>

</div>