<div class="container cont1" >
  
<p class="text1">Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> 
  Optio autem perspiciatis ipsa voluptas enim totam, animi<br> 
  dicta non? Quidem nesciunt tempore aliquid<br> placeat
   vero, reiciendis natus aspernatur ipsam. Minima,
    fugiat?</p>

    <p class="text1">Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> 
      Optio autem perspiciatis ipsa voluptas enim totam, animi<br> 
      dicta non? Quidem nesciunt tempore aliquid<br> placeat
       vero, reiciendis natus aspernatur ipsam. Minima,
        fugiat?</p>

        <p class="text1">Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> 
          Optio autem perspiciatis ipsa voluptas enim totam, animi<br> 
          dicta non? Quidem nesciunt tempore aliquid<br> placeat
           vero, reiciendis natus aspernatur ipsam. Minima,
            fugiat?</p>

            <p class="text1">Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> 
              Optio autem perspiciatis ipsa voluptas enim totam, animi<br> 
              dicta non? Quidem nesciunt tempore aliquid<br> placeat
               vero, reiciendis natus aspernatur ipsam. Minima,
                fugiat?</p>

                <p class="text1">Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> 
                  Optio autem perspiciatis ipsa voluptas enim totam, animi<br> 
                  dicta non? Quidem nesciunt tempore aliquid<br> placeat
                   vero, reiciendis natus aspernatur ipsam. Minima,
                    fugiat?</p>
                                      
</div>