<div class="container " >
<br>
  <h1>Hi, I'm <br> <span class="nombre">Manuel Durán</span> <br> a <br> <span class="tw"></span></h1>
  
  <div class="parrafo1">
    <p>
      I am deeply passionate about crafting and advancing web applications. Continuously seeking fresh challenges and embracing the opportunity to learn cutting-edge technologies, I thrive on pushing my boundaries.
    </p>
    <p>
      My ultimate objective is to secure a position in a dynamic company where I can foster both professional and personal growth. I am eager to leverage my expertise and experience to make meaningful contributions to the organization.
    </p>
   
 <div class="listas">
  <p>Key Proficiencies:</p>
  <div class="listp1">
    <ul>
      <li>Java</li>
      <li>Spring Boot</li>
      <li>Angular</li>
      <li>HTML5</li>

      
    </ul>
   
   </div>
   <div class="listp2">
    <ul>
     
      <li>CSS3</li>
      <li>JavaScript</li>
  
      <li>SQL</li>
      <li>Git</li>
      
    </ul>
   </div>
 </div>
 <div class="spacer1"></div>
 <div style="display: block; width: 100%; margin-top: 10px;">
  <p >These skills, combined with my commitment to ongoing learning, position me as a dedicated and versatile professional ready to tackle the evolving landscape of web development.</p>

 </div>
     </div>
  <br>

  
 <div class="tarjeta">
  
  <div class="card">
    <img src="assets/img/fotoperfil1.png" alt="Foto de Perfil">
  </div>
 
 </div>
<br>
 <div class="socialNets">
  <app-socialnetworks></app-socialnetworks>
  
 </div>
 <br>

 
</div>
