@import '../../assets/colors.scss';


div h3{
position: relative;
top: 20px;
    color: $color-subtitulos;
    font-size: 2rem;
    font-family: 'Old Standard TT', serif;
  
}

p{
    color: $color-parrafo;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;

 
}

 div h1 {
    color: $color-parrafo;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
  
  
   
}


.parrafo1{
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    display: block;
    margin-top: 35px;

}
.parrafo1 ul li{
    color: $color-subtitulos;
    list-style: none;
}
.listp1{
    width: 50%;
    float: left;
    font-size: 1.3rem;
    font-weight: bold;
}
.listp2{
    width: 50%;
    float: right;
    font-size: 1.3rem;
    font-weight: bold;
}
.nombre{
    font-size: 2.5rem;
    color: $color-titulos;
}

.spacer1{
    
    width: 100%;
    height: 100px;

    margin-bottom: 40px;

}
.tarjeta{
    
    width: 100%;
    position: relative;
    z-index: -2;
    margin: 0 auto;
    overflow: hidden;
    background: transparent;
}

.card {
  
    max-width: 370px;
    height: 354px;
    max-height: 354px;
    border-radius: 30px;
    background: $color-fondo;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgba(60, 60, 60, 0);
   }
   .card img{
    
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 0.75rem $color-parrafo);


}
.socialNets{
    width: 100%;
    margin: auto;
    position: relative;
    
   
}
.listas{
    display: block;
}
