.dr {
    display: block;
    // Add margin to create space below the div
    height: 130px;
    max-height: 130px;
    border-color: aquamarine;
    
}
.bloque1{
   
    margin: 8vh auto;
    display: block;
    background: #363636;
    
    
}