<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bio</h1>
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
        <p>
            ¡Hola! Soy Manuel Durán, Ingeniero en Ciencias de la Computación de la
            Universidad Don Bosco de El Salvador, con una pasión innata por el
            desarrollo de software. A lo largo de mi vida, he acumulado numerosas
            experiencias que han contribuido a mi crecimiento personal y
            profesional. Con una sólida formación en el área de las ciencias de la
            computación, he desempeñado roles clave, principalmente en el desarrollo
            web, abarcando tanto el Frontend como el Backend, además de la
            infraestructura en la nube. Mi enfoque se centra en crear soluciones
            tecnológicas robustas y eficientes que aborden los desafíos específicos
            de mis clientes y usuarios.
          </p>
          <br />
          <div >
            <img class="fotodev" src="assets/img/dev.jpg" alt="Foto De ejemplo">
          </div>
          <p>
            Mis habilidades para desarrollar aplicaciones web incluyen tecnologías
            como Java, C#, JavaScript, TypeScript, HTML, CSS y SQL, además de
            frameworks como Angular, React, Node.js, Spring (Java) y .NET Core. Mi
            experiencia en la implementación y gestión de la infraestructura en la
            nube, utilizando plataformas como Amazon Web Services y Google Cloud
            Platform, ha sido fundamental para optimizar el rendimiento y la
            escalabilidad de los proyectos en los que he participado.
          </p>
          <br />
          <p>
            Creo firmemente que la combinación de innovación, colaboración y
            compromiso es fundamental para el éxito en el ámbito tecnológico.
            Valorando la innovación constante y el trabajo en equipo, mi objetivo es
            utilizar mis habilidades técnicas y creativas para diseñar y desarrollar
            soluciones web innovadoras y eficientes. Estoy en busca de oportunidades
            para trabajar en un entorno dinámico donde pueda colaborar con un equipo
            talentoso para crear las soluciones más eficientes.
          </p>
          <br />
          <p>
            Me gradué en la Universidad Don Bosco en Ingeniería en Ciencias de la
            Computación. Durante mi tiempo en la universidad, participé en el
            desarrollo de proyectos de software con C#, lo que me ayudó a mejorar
            mis habilidades como programador. Además, contribuí a la creación de un
            sistema de control de ayudas para la comunidad.
          </p>
          <br />
          <p>
            Fuera del ámbito profesional, me considero una persona alegre y
            divertida que disfruta el ayudar a los demás. Me encanta montar
            bicicleta, especialmente en MTB, y tengo una afición por la
            acuariofilia. Encuentro inspiración en salir a caminar por los senderos
            y en conversaciones con otras personas.
          </p>
          <br />
          <p>
            Mirando hacia el futuro, estoy emocionado por encontrar un lugar de
            trabajo donde pueda seguir creciendo como persona y profesionalmente, y
            eventualmente tener mi propia empresa de software. Planeo continuar
            estudiando las nuevas herramientas que la tecnología pueda ofrecerme
            para alcanzar mis metas y sueños.
          </p>
          <br />
          <p class="text-center">¡Gracias por visitar mi sitio web!</p>
    </div>
  </div>
</div>
