<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p data-aos="fade-up">
        Hello! I'm Manuel Durán, a Computer Science Engineer from Don Bosco
        University of El Salvador, with an innate passion for software
        development. Throughout my life, I've accumulated numerous experiences
        that have contributed to my personal and professional growth. With a
        solid background in computer science, I've played key roles, primarily
        in web development, spanning both Frontend and Backend, as well as cloud
        infrastructure. My focus is on creating robust and efficient
        technological solutions that address the specific challenges of my
        clients and users.
      </p>
      <br />
      <div>
        <img class="fotodev" src="assets/img/dev.jpg" alt="Foto De ejemplo"  data-aos="fade-up"/>
      </div>
      <p data-aos="fade-up">
        My skills for developing web applications include technologies such as
        Java, C#, JavaScript, TypeScript, HTML, CSS, and SQL, as well as
        frameworks like Angular, React, Node.js, Spring (Java), and .NET Core.
        My experience in implementing and managing cloud infrastructure, using
        platforms such as Amazon Web Services and Google Cloud Platform, has
        been essential for optimizing the performance and scalability of the
        projects I have been involved in.
      </p>
      <br />
      <p data-aos="fade-up">
        I firmly believe that the combination of innovation, collaboration, and
        commitment is fundamental to success in the technological field. Valuing
        constant innovation and teamwork, my goal is to use my technical and
        creative skills to design and develop innovative and efficient web
        solutions. I am seeking opportunities to work in a dynamic environment
        where I can collaborate with a talented team to create the most
        effective solutions.
      </p>
      <br />
      <p data-aos="fade-up">
        I graduated from Don Bosco University with a degree in Computer Science
        Engineering. During my time at university, I participated in software
        development projects using C#, which helped me enhance my programming
        skills. Additionally, I contributed to the creation of a community
        assistance control system.
      </p>
      <br />
      <p data-aos="fade-up">
        Outside of my professional life, I consider myself a cheerful and
        fun-loving person who enjoys helping others. I love riding bicycles,
        especially mountain biking (MTB), and I have a passion for aquascaping.
        I find inspiration in hiking trails and engaging in conversations with
        others.
      </p>
      <br>
      <div class="contenedorImg">
        <img class="fotodev" src="assets/img/foto2.jpg" alt="Segunda foto en BIO" data-aos="fade-up">
     
      </div>
       <br />
      <p data-aos="fade-up">
        Looking towards the future, I am excited about finding a workplace where
        I can continue to grow personally and professionally, and eventually
        establish my own software company. I plan to continue studying the new
        tools that technology may offer me to achieve my goals and dreams.
      </p>
      <br />
      <p class="text-center">Thank you for visiting my website!</p>
    </div>
  </div>
</div>
