// variables.scss

$color-primario: #babd8d; // Puedes asignar cualquier color que desees
$color-subtitulos: rgb(255 1 79);
$color-titulos: rgb(255 1 79);
$color-parrafo: #bbbec1;
$color-fondo: rgb(33 36 40);
